/*
 * Scheme name: {{scheme-name}}
 * Scheme author: {{scheme-author}}
 * Template based on Catppuccin theme (https://github.com/catppuccin/miniflux)
 */

:root {
  --base00: #{{base00-hex}};
  --base01: #{{base01-hex}};
  --base02: #{{base02-hex}};
  --base03: #{{base03-hex}};
  --base04: #{{base04-hex}};
  --base05: #{{base05-hex}};
  --base06: #{{base06-hex}};
  --base08: #{{base08-hex}};
  --base09: #{{base09-hex}};
  --base0A: #{{base0A-hex}};
  --base0B: #{{base0B-hex}};
  --base0C: #{{base0C-hex}};
  --base0D: #{{base0D-hex}};
  --base0E: #{{base0E-hex}};
}

.logo a span {
  color: var(--base0B);
}

.alert-error {
  color: var(--body-background);
}

.confirm {
  color: var(--alert-confirm-color);
}

.confirm > button {
  color: var(--alert-confirm-color);
}

.confirm > a {
  color: var(--alert-confirm-color);
}

.confirm {
  background-color: var(--alert-background-color);
}

.entry-meta > span > a {
  color: var(--entry-meta-color);
}

.entry-date {
  color: var(--entry-meta-color);
}

.entry header h1 a:hover,
.entry header h1 a:focus {
  color: var(--link-hover-color);
}

input[type="search"],
input[type="url"],
input[type="password"],
input[type="text"],
input[type="number"],
select,
textarea {
  color: var(--input-color);
  background: var(--input-background);
  border: var(--input-border);
}

label input[type="checkbox"] {
  accent-color: var(--button-primary);
}

.button.button-primary:hover,
.button.button-primary:focus {
  background-color: var(--button-primary-background);
}
.button.button-primary:disabled {
  color: var(--button-primary-color);
  border-color: var(--button-primary-focus-border-color);
  background-color: var(--button-primary-focus-background);
  opacity: 0.75;
}

.entry-content figcaption {
  color: var(--entry-content-fig-caption);
}

.entry-author {
  color: var(--entry-author-color);
}

.item-meta {
    color: var(--item-meta-li-color);
}

.item-meta a {
  color: var(--base0A);
  font-weight: 600;
}

.item-meta :is(a:is(:focus, :hover), button:is(:focus, :hover)) {
  color: var(--item-meta-focus-color);
}

.item-meta-icons li :is(a, button) {
  color: var(--item-meta-li-color);
}

:root {
  --item-status-read-title-link-color: var(--link-color);
  --body-color: var(--base05);
  --body-background: var(--base00);
  --hr-border-color: var(--base04);
  --title-color: var(--base05);
  --link-color: var(--base0D);
  --link-focus-color: var(--base02);
  --link-hover-color: var(--base09);
  --link-visited-color: var(--base0E);
  --header-list-border-color: var(--base04);
  --header-link-color: var(--base0D);
  --header-link-focus-color: var(--base02);
  --header-link-hover-color: var(--base09);
  --header-active-link-color: var(--base04);
  --table-border-color: var(--base04);
  --table-th-background: var(--base01);
  --table-th-color: var(--base03);
  --table-tr-hover-background-color: var(--base00);
  --table-tr-hover-color: var(--base03);
  --button-primary-border-color: var(--base03);
  --button-primary-background: var(--base03);
  --button-primary-color: var(--base00);
  --button-primary-focus-border-color: var(--base04);
  --button-primary-focus-background: var(--base04);
  --input-background: var(--base01);
  --input-color: var(--base05);
  --input-placeholder-color: var(--base05);
  --input-focus-color: var(--base05);
  --input-focus-border-color: var(--base02);
  --input-border: var(--base02);
  --input-focus-box-shadow: 0 0 0 2px var(--base04);
  --alert-color: var(--base0A);
  --alert-confirm-color: var(--base08);
  --alert-background-color: var(--base00);
  --alert-border-color: var(--base04);
  --alert-success-color: var(--base0B);
  --alert-success-background-color: var(--base01);
  --alert-success-border-color: var(--base04);
  --alert-error-color: var(--base00);
  --alert-error-background-color: var(--base08);
  --alert-error-border-color: var(--base08);
  --alert-info-color: var(--base03);
  --alert-info-background-color: var(--base01);
  --alert-info-border-color: var(--base01);
  --page-header-title-border-color: var(--base04);
  --page-header-title-color: var(--base05);
  --logo-color: var(--base05);
  --logo-hover-color-span: var(--base0D);
  --panel-background: var(--base00);
  --panel-border-color: var(--base04);
  --panel-color: var(--base05);
  --modal-background: var(--base00);
  --modal-color: var(--base03);
  --modal-box-shadow: 2px 0 5px 0 var(--base04);
  --pagination-link-color: var(--base0D);
  --pagination-border-color: var(--base04);
  --category-color: var(--base05);
  --category-background-color: var(--base01);
  --category-border-color: var(--base04);
  --category-link-color: var(--base0D);
  --category-link-hover-color: var(--base09);
  --item-header-color: var(--base05);
  --item-border-color: var(--base04);
  --item-status-unread-title-link-color: var(--base0D);
  --item-status-read-title-link-color: var(--base0E);
  --item-status-read-title-focus-color: var(--base04);
  --item-meta-focus-color: var(--base06);
  --item-meta-icons-external-url: var(--base05);
  --item-meta-li-color: var(--base05);
  --item-meta-icons-star: var(--base05);
  --current-item-border-color: var(--base01);
  --entry-header-border-color: var(--base04);
  --entry-header-title-link-color: var(--base05);
  --entry-meta-color: var(--base0E);
  --entry-author-color: var(--base0B);
  --entry-content-color: var(--base05);
  --entry-content-code-color: var(--base0D);
  --entry-content-code-background: var(--base00);
  --entry-content-code-border-color: var(--base04);
  --entry-content-fig-caption: var(--base05);
  --entry-content-quote-color: var(--base0E);
  --entry-content-abbr-border-color: var(--base04);
  --entry-enclosure-border-color: var(--base04);
  --parsing-error-color: var(--base08);
  --feed-parsing-error-background-color: var(--base01);
  --feed-parsing-error-border-color: var(--base08);
  --feed-has-unread-background-color: var(--base01);
  --feed-has-unread-border-color: var(--base05);
  --category-has-unread-background-color: var(--base01);
  --category-has-unread-border-color: var(--base0C);
  --keyboard-shortcuts-li-color: var(--base03);
  --counter-color: var(--base05);
}
